@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 80vh;
    overflow: hidden;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
html{
    font-size: 14px;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.old_price {
    font-weight: bold;
    color: red;
}

.new_price {
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.fa{
    padding: 5px;
}
.pic-box{
    position: relative;
}
.hot{
    position:absolute;
    top:0;
    right:5;
    z-index:10;
    background-color:rgba(255, 94, 0, 0.818);
    color: white;
    width:75px;
    text-align: center;
    font-weight: bold;
    display:inline;
    border-radius: 5px;
    padding: 2px;
   
}

.favorite-count {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red; /* Adjust styling as needed */
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
}

.order-item-cost{
    background-color: blue;
}



